.card {
  background-color: white;
  box-shadow: 1px 5px 14px 1px rgba(0, 0, 0, 0.2);
  width: auto;
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.gradient-background {
  background: linear-gradient(#ff7171 25%, #98a0f0 150%);
}
.half{
  flex: 1;
  width: 500px;
}

.left {
  transform: skewx(15deg);
  transform-origin : 0 0;
  height: 100%;
}
.cleanarea {
  margin-left: 10%;
  padding: 1em;
}
.login-button {
  border-radius: 25px;
  background: #3a47d6;
  border: 0px;
  color: white;
  padding: 1em;
  box-shadow: 1px 5px 14px 1px rgba(0, 0, 255, 0.2);
  width: 100px;
  font-weight: 600;
}

.login-button:hover {
  background: #2b36a8;
  cursor: pointer; 
}